.feedback {
    color: #000;
    background: #F4F5F5;
}
.feedback__content {
    min-height: 799px;
}
.feedback__title {
    font-size: 48px;
    line-height: 65px;
    margin: 62px 0px 57px;
}
.feedback__form {
    position: relative;
    font-size: 18px;
}
.form__name {
    width: 557px;
    height: 65px;
    margin: 0px 15px 26px 0px;
    padding: 0 30px;
    border-radius: 5px;
    border: none;
}
.form__profile {
    padding: 0 30px;
    border-radius: 5px;
    border: none;
    width: 550px;
    height: 65px;
    margin-bottom: 26px;
}
.form__field {
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    height: 235px;
    padding: 30px;
    resize: none;
}
.form__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}
.form__text {
    font-size: 18px;
    vertical-align: super;
    margin-top: 10px;
}
.form__checkbox-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
}
.form__checkbox {
    display: none;
}
.form__checkbox-label {
    display: inline-block;
    height: 37px;
    font-size: 13px;
    padding: 10px 15px;
    margin: 0 0 10px 10px;
    background: #E7E7E7;
    border-radius: 35px;
}
.form__checkbox:checked + .form__checkbox-label {
    background: #B9EAE4;
}
.form__block-btn {
    text-align: right;
    margin-bottom: 15px;
}
.form__clear.btn {
    display: inline-block;
    color: #fff;
    background: #8E8E8E;
    border: none;
    cursor: pointer;
    margin: 0px 17px 0px auto;
}
.form__clear.btn:hover {
    background: #2B2B2B;
}
.form__submit.btn {
    display: inline-block;
    color: #fff;
    border: none;
    cursor: pointer;
}
@media (max-width:425px) {
    .form__block {
        flex-direction: column;
        text-align: center;
    }
    .form__checkbox-block {
        justify-content: center;
        margin: 15px 0;
    }
    .form__block-btn {
        text-align: center;
    }
}
