.headline {
    height: 412px;
    background: url('../../img/backgrounds/headline.png') center no-repeat;
    text-shadow: 0 0 3px #000;
}
.headline__content {
    margin-top: 70px;
}
.headline__title {
    font-size: 72px;
    margin: 0px 0px 105px 0px;
}
.breadscrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.breadscrumbs__item {
    margin-right: 5px;
    font-size: 14px;
    color: #9A9A9A;
    text-decoration: underline;
}
.breadscrumbs__item:hover {
    color: red;
}
.breadscrumbs__item-current {
    font-weight: bold;
}
.breadscrumbs__item-gap {
    text-decoration: none;
}
.breadscrumbs__link {

}
@media (max-width:425px) {
    .headline__content {
        margin: 90px auto 0;
        width: 70%;
        min-height: 440px;
        text-align: center;
    }
    .headline__title {
        font-size: 40px;
    }
    .breadscrumbs {
        margin: 0 auto;
        max-width: 50%;
    }
    .headline {
        background-position: 57%;
    }
}