.news-stocks {
    color: white;

}
.news-stocks__content {
    margin-bottom: 130px;
}
.news-stocks__title {
    margin: 0 0 53px;
    color: #fff;
    font-size: 36px;
}
.news-stocks__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-news {
    margin: 0px 0px 20px 0px;
    position: relative;
    width: 557px;
    min-height: 394px;
    border-radius: 5px;
}
/* imagine */
.block-news__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.block-news__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* description */
.block-news__desc {
    position: relative;
    z-index: 0;
    margin: 253px 0px 0px 30px;
}
.block-news__data {
    font-size: 14px;
}
.block-news__title {
    font-size: 24px;
    margin: 16px 0px 3px;
}
.block-news__text {
    font-size: 16px;
}

@media (max-width:425px) {
    .news-stocks__title {
        text-align: center;
        font-size: 30px;
    }
}
