.partners {
    color: #000;
    background: #F4F5F5;
    min-height: 450px;
}
.partners__title {
    font-size: 48px;
    margin: 83px 0px 86px 0px;
}
.partners__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.partners__item {
    flex: 0 1 21%;
    margin: 0px 0px 70px 0px;
    text-align: center;
}
.partners__item img{
    width: auto;
}
@media (max-width:425px) {
    .partners__item {
        flex: 0 1 100%;
        margin-bottom: 40px;
    }
    .partners__title {
        text-align: center;
        font-size: 30px;
    }
}