.reviews {
    margin-top: 98px;
}
.reviews__content {

}

.reviews__list {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    columns: 2;
    column-gap: 27px;
}
.review-block {
    color: #000;
    padding: 50px 30px 30px;
    margin: 0 5px 17px 0;
    background: #F4F5F5;
    max-width: 557px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}
.review-block__flex-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.review-block__flex-2 {
    padding: 30px 0;
    flex: 0 1 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.review-block__avatar {
    width: 142px;
    height: 142px;
}
.review-block__name {
    flex: 0 1 auto;
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}
.review-block__name:hover {
    text-decoration: underline;
    color: #2E77A4;
}
.review-block__link {
    display: inline-block;
    width: 30px;
}
.review-block__locate {
    padding: 10px 20px;
    border-radius: 40px;
    flex: 0 1 auto;
    display: inline-block;
    font-size: 13px;
    background: #B9EAE4;
}
.review-block__title {
    font-size: 30px;
    font-weight: bold;
    margin: 27px 0px 13px;
}
.review-block__text {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 50px;
}
.review-block__data {
    font-size: 14px;
    font-weight: bold;
}
@media (max-width:800px){
    .reviews__list {
        columns: 1;
    }
    .review-block {
        margin: 0px auto 17px;
    }
}
@media (max-width:425px){
    .review-block__flex-1 {
        flex-direction: column;
        align-items: center;
    }
    .review-block__flex-2 {
        justify-content: center;
    }
    .review-block__title {
        font-size: 26px;
    }
    
}
