.advertisemen {
    background: url('../../img/feedback/Rectangle.png') no-repeat;
}
.advertisemen__content {
    position: relative;
    min-height: 363px;
}
/* .advertisemen__background {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);

}
.advertisemen__background img {
    object-fit: none;
    object-position: center;
} */
.advertisemen__image {
    position: absolute;
    top: 22px;
    left: 550px;
    width: 487px;
}
.advertisemen__title {
    color: #fff;
    font-size: 48px;
    line-height: 65px;
    width: 600px;
    padding: 117px 0px 116px;
}