.page-header {
    padding: 24px 0;    
    color: #fff;
}

.page-header__content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.site-logo {
    width: 85px;
    height: 36px;
    margin: 0 83px 5px 0;
}

.site-nav__list {
    display: flex;
}
.site-nav__item {
    margin: 0px 55px 0px 0px;
    font-size: 14px;
}
.site-nav__link:hover {
    color: #DA0100;
}

.header-site-address {
    flex: 0 1 60%;
    font-style: normal;
    text-align: right;
}
.header-site-address__phone {
    padding: 0px 0px 0px 0px;
    font-size: 26px;
}
.header-site-address__dropdown-title {
    display: block;    
    width: 100px;
    margin: -8px 0px 0px auto;
    font-size: 13px;
    text-decoration: underline;
}
 .header-site-address__dropdown-title:hover + .header-site-address__dropdown-window {
    display: block;
}
.header-site-address__dropdown-window {
    display: none;
    position: absolute;
    top: 47px;
    right: 5px;
    color: #1E1F20;
    font-size: 13px;
    font-weight: bold;
    background: #CDD1D2;
    border-radius: 5px;
    width: 160px;
    padding: 15px 19px;
    margin: 10px 0 0 auto;
}
.header-site-address__dropdown-text-1 {

}
.header-site-address__dropdown-text-2 {
    margin: 5px 0px 0px -3px;
}
.header-site-address__dropdown-window::after {
    content: "";
    position: absolute;
    top: -23px;
    left: 93px;
    width: 0px;
    height: 0px;
    border: solid 13px transparent;
    border-bottom: solid 10px #CDD1D2;
}
