.services__content {
    color: #000;
    margin: 95px 0px 0px 0px;
}
.list-services {
    display: flex;
    flex-wrap: wrap;
}
.list-services__item {
    display: flex;
    margin: 0px 0px 48px 0px;
}
.list-services__img {
    flex: 0 0 auto;
    width: 460px;
    height: 333px;
    border-radius: 5px;
}
.list-services__block {
    width: 652px;
    height: 136px;
    padding: 10px 0px 20px 56px;
}
.list-services__title {
    font-size: 36px;
}
.list-services__text {
    font-size: 16px;
    line-height: 27px;
    margin: 31px 0px 34px 0px;
}
.services .btn {
    width: 168px;
}
.services .paginator {
    margin: 16px 0px 81px 18px;
}
