.suggestions {
    color: #000;
    margin: 0px 0px 115px 0px;
}
.suggestions__content {

}
.suggestions__title {
    margin: 0 0 50px;
    color: #fff;
    font-size: 36px;
}
.suggestions__title img {
    width: 21px;
    margin-left: 5px;
}
.suggestions__list {
    display: flex;
}
.tour {
    background: white;
    width: 362px;
    height: 450px;
    margin-right: 27px;
    border-radius: 5px;
}
.tour:last-child {
    margin: 0;
}
.tour__picture {

}
.tour__info {
    width: 324px;
    margin: 33px 0 0 22px;
}
.tour__title {
    font-size: 24px;
    margin: -4px 0px 15px 0px;
}
.tour__food, .tour__duration {
    display: inline-block;
    width: 120px;
    font-size: 16px;
    margin: 0px 16px 0px 10px;
}
.tour__food img, .tour__duration img {
    margin-right: 4px;
    position: relative;
    top: 7px;
}
.tour__food img {
    width: 36px;
    height: 26px;
}
.tour__duration img {
    width: 26px;
    height: 26px;
}
.tour__desc {
    margin: 28px 0px;
}
