.header-site-address {
    flex: 1 1 auto;
    font-style: normal;
    text-align: right;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}
.header-site-address__phone {
    padding: 0px 0px 0px 0px;
    font-size: 26px;
}
/* dropdown */
.header-site-address__dropdown-title {
    display: inline-block;   
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
}
.header-site-address__dropdown-title:hover {

}
.header-site-address__dropdown-title:hover .header-site-address__dropdown-window {
    opacity: 1;
    right: 0;
    transition: opacity 0.4s;
}
.header-site-address__dropdown-window::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 20px;
    right: 0;
    top: -14px;
}
.header-site-address__dropdown-window {
    opacity: 0;
    position: absolute;
    top: 20px;
    right: -1000px;
    color: #1E1F20;
    font-size: 13px;
    font-weight: bold;
    background: #CDD1D2;
    border-radius: 5px;
    width: 160px;
    padding: 15px 19px;
    margin: 10px 0 0 auto;
    text-shadow: none;
}
.header-site-address__dropdown-text-1 {

}
.header-site-address__dropdown-text-2 {
    margin: 5px 0px 0px -3px;
}
.header-site-address__dropdown-window::after {
    content: "";
    position: absolute;
    top: -23px;
    left: 93px;
    width: 0px;
    height: 0px;
    border: solid 13px transparent;
    border-bottom: solid 10px #CDD1D2;
}
@media (max-width:425px) {
    .header-site-address__phone {
        font-size: 18px;
    }
    
}