.btn {
    display: block;
    color: #fff;
    width: 168px;
    height: 55px;
    background: #F5170E;
    text-align: center;
    text-transform: uppercase;
    line-height: 53px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
}
.btn:hover {
    box-shadow:  0 0 5px 0 #F5170E;
    background: #DA0100;
}
.tour__btn {
    width: 135px;
}

