html, body {
    margin: 0;
    padding: 0;
    background: #001821;;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.36;
    box-sizing: border-box;
}
ul {    
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
h2 {
    margin: 50px 0;
    color: white;
    font-size: 36px;
}
.wrapper {
    max-width: 1150px;
    margin: auto;
    -padding: 0 385px;
    background: url('/img/backgrounds/1.png') no-repeat, url('/img/backgrounds/2.png') bottom no-repeat;
}
.container {

}
.btn {
    display: block;
    width: 168px;
    height: 55px;
    background: #F5170E;
    text-align: center;
    text-transform: uppercase;
    line-height: 53px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
}
.page-header {
    padding-top: 26px;
    color: white;
    height: 123px;
}
.page-header__container {
    display: flex;
    justify-content: flex-start;
}
.page-header__logo {
    margin-right: 79px;
}
.header-menu {

}
.header-menu__list {
    display: flex;
}
.header-menu__item {
    margin: 0px 54px 0px 0px;
}
.page-header .contacts {
    flex: 0 1 80%;
    text-align: right;
}
.contacts__phone {
    font-size: 26px;
}
.contacts__text {
    font-size: 13px;
    text-decoration: underline;    
}

.intro {
    -background: rgba(240,230,140,0.5);
    height: 580px;
    color: white;
}
.intro__background {

}
.intro__block {
    width: 510px;
}
.intro__title {
    font-size: 72px;
    margin: 0;
}
.intro__slogan {
    font-size: 18px;
}
.intro__btn {
    margin-top: 33px;
}

.suggestions {

}
.suggestions__title {
    margin: 50px 0;
}
.suggestions__list {
    display: flex;
    justify-content: space-between;
}
.tour {
    background: white;
    width: 362px;
    height: 450px;
    padding: 22px;
    box-sizing: border-box;
    border-radius: 5px;
}
.tour__picture {
    position: relative;
    top: -22px;
    left: -22px;
}
.tour__title {
    color: black;
    font-size: 24px;
    margin: 5px 0px 20px 0px;
}
.tour__food, .tour__duration {
    display: inline-block;
    width: 120px;
    font-size: 16px;
    margin-right: 28px;
}
.tour__food img, .tour__duration img {
    margin-right: 4px;
    position: relative;
    top: 4px;
}
.tour__desc {
    margin: 24px 0px;
}
.tour__btn {
    background: white;
    color: #F5170E;
    border: solid 1px red;
    width: 135px;
    font-weight: bold;
    border-radius: 30px;
}

.news-stocks {
    color: white;
}
.news-stocks__container {

}
.news-stocks__title {

}
.news-stocks__list {
    display: flex;
    justify-content: space-between;
}
.block-news {
    width: 557px;
    height: 394px;
    padding: 250px 30px 30px 30px;
    box-sizing: border-box;
}
.block-news:nth-child(1) {
    background: url('/img/backgrounds/plain.png') no-repeat;
}
.block-news:nth-child(2) {
    background: url('/img/backgrounds/Surfer.png');
}
.block-news__data {
    margin-bottom: 12px;
}
.block-news__title {
    font-size: 24px; 
    margin: 0;   
}
.block-news__text {
    margin: 0;
    font-size: 16px;
}
.pagin-news {
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.pagin-news__text {
    margin-right: 25px;    
    word-spacing: 3px;
    line-height: 25px;
}
.pagin-news__list {
    display: flex;
}
.pagin-news__item {
    line-height: 25px;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.pagin-news__item a {
    color: inherit;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.pagin-news__item:hover {
    color: red;
    background: white;
}

.about-us {
    margin: 120px 0px 0px 0px;
}
.about-us__container {
    height: 550px;
    position: relative;
}
.about-us__picture-1 {
    position: absolute;
    width: 490px;
    height: 505px;
    background: url('/img/backgrounds/gates.png') no-repeat;
}
.about-us__picture-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 785px;
    height: 455px;
    background: url('/img/backgrounds/mountains.png') no-repeat;
    padding: 35px 200px 70px 80px;
    box-sizing: border-box;
}
.about-us__title {
    font-size: 36px;
}
.about-us__text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 43px;
}
.about-us__btn {

}

.page-footer {
    margin: 26px 0px 0px 0px;
    color: white;
    height: 123px;
}
.page-footer__container {
    display: flex;
    justify-content: start;
    margin: 100px 0px 0px 0px;
}
.page-footer__logo {
    margin-right: 79px;
}
.footer-menu {

}
.footer-menu__list {
    display: flex;
}
.footer-menu__item {
    margin: 0px 54px 0px 0px;
}
.contacts {
    flex: 0 1 30%;
    text-align: right;
}
.contacts__phone {
    font-size: 26px;
}
.contacts__text {
    font-size: 13px;
    text-decoration: underline;    
}
.social {
    flex: 0 1 30%;
    display: flex;
    justify-content: flex-end;
}
.social__item {
    width: 36px;
    height: 36px;
    margin-right: 10px;    
}
.social__item:nth-child(1) {background: url('/img/icons/telegram.svg');}
.social__item:nth-child(2) {background: url('/img/icons/vk.svg');}
.social__item:nth-child(3) {background: url('/img/icons/f.svg');}
.social__item:nth-child(4) {background: url('/img/icons/in.svg');}
.social__link {    
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.social__link:hover {
    background: rgba(230, 228, 228, 0.5);
}